---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="FAQ - File Size Checker">
  <h2 class="text-4xl font-extrabold text-center">FAQ</h2>
  <section class="mt-5 pt-3">
    <h4>Where can I report issues or suggest changes?</h4>
    <p>
      This is an open-source project hosted in Github. You can use our <a
        href="https://github.com/fparedlo/fileSizeCheckerApp/issues"
        rel="noopener noreferrer nofollow"
        target="_blank">Github Issues Section</a
      >
      to report bugs or request new features.
    </p>
    <p>All issues are welcome!</p>

    <h4>Can I contribute?</h4>
    <p>
      Of course! <a
        href="https://github.com/fparedlo/fileSizeCheckerApp/"
        rel="noopener noreferrer nofollow"
        target="_blank">Visit our repository</a
      > to find out how to tho this in the README section.
    </p>

    <h4>Is there any restriction of usage for this app?</h4>
    <p>
      This is an open-source project under the MIT license. You can use it for
      free, modify it, and distribute it as you wish.
    </p>

    <h4>Is there any restriction of usage for this app?</h4>
    <p>
      This is an open-source project under the MIT license. You can use it for
      free, modify it, and distribute it as you wish.
    </p>

    <h4>How do you bypass CORS for these assets requests?</h4>
    <p>
      We use a free CORS proxy provided by <a
        href="https://cors-anywhere.herokuapp.com/"
        rel="noopener noreferrer nofollow"
        target="_blank"
        >CORS Anywhere</a>. We limit requests to 1 every 3 seconds to avoid abuse or malicious use of this service.
    </p>
    <p>Modifying this behavior is considered a violation of our <a href="/terms">Terms and Conditions.</a></p>
  </section>
</Layout>
