---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="FAQ - File Size Checker">
  <h2 class="text-4xl font-extrabold text-center">FAQ</h2>
  <section class="mt-5 pt-3">
    <h4>Where can I report issues or suggest changes?</h4>
    <p>
      This is an open-source project hosted in Github. You can use our <a
        href="https://github.com/fparedlo/fileSizeCheckerApp/issues"
        rel="noopener noreferrer nofollow"
        target="_blank">Github Issues Section</a
      >
      to report bugs or request new features.
    </p>
    <p>All issues are welcome!</p>

    <h4>Can I contribute?</h4>
    <p>
      Of course! <a
        href="https://github.com/fparedlo/fileSizeCheckerApp/"
        rel="noopener noreferrer nofollow"
        target="_blank">Visit our repository</a
      > to find out how to tho this in the README section.
    </p>

    <h4>Is there any restriction of usage for this app?</h4>
    <p>
      This is an open-source project under the MIT license. You can use it for
      free, modify it, and distribute it as you wish.
    </p>
  </section>
</Layout>
