---
import urls from "@/mock-data/exampleUrls.js";
---

<p class="mt-4">
  <strong>Example:</strong>
</p>
<div
  class="p-4 space-y-1 bg-gray-50 border border-gray-200 rounded-lg mb-4 font-mono"
>
  {urls.map((url) => <span class="block break-all">{url}</span>)}
</div>
