<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>File Size Checker</title>
	</head>
	<body class="h-screen">
		<div class="container h-screen mx-auto grid grid-rows-[auto_1fr_auto] gap-4">
			<header>
				<h1 class="text-6xl font-extrabold text-center py-5">File Size Checker</h1>
			</header>
			<main>
				<slot/>
			</main>
			<footer>
				<p class="text-center py-3">© 2025 File Size Checker - <a href="https://github.com/fparedlo" rel="noopener noreferrer nofollow" target="_blank" class="underline">FParedes</a> : No rights reserver, still it's creator.</p>
			</footer>
		</div>
	</body>
</html>


