---
const { title } = Astro.props;
import "@/tailwind/base.css";
import { ClientRouter } from "astro:transitions";
import ExternalLink from "@/components/server/ExternalLink.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="App to help people quickly finding the file size of their online assets."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <div
      class="container px-4 h-screen mx-auto grid grid-rows-[auto_1fr_auto] gap-4"
    >
      <header>
        <h1 class="text-6xl font-extrabold text-center py-5 flex justify-center gap-4 align-bottom items-center">
          <img src="/favicon.svg" width="64" height="auto" alt="" class="mt-2">
          <span>File Size Checker</span>
        </h1>
        <nav class="flex justify-center gap-6" aria-label="Main">
          <a href="/">Home</a>
          <a href="/faq">FAQ</a>
        </nav>
      </header>
      <main class="prose mx-auto max-w-full w-full">
        <slot />
      </main>
      <footer class="space-y-1 mb-4">
        <p class="text-center">© 2025 FileSizeChecker - All rights reserved</p>
        <nav class="flex justify-center gap-8" aria-label="Footer">
          <ExternalLink url="https://github.com/fparedlo/fileSizeCheckerApp">
            Github
          </ExternalLink>
          <a href="/terms">Terms and Conditions</a>
          <ExternalLink url="https://x.com/n_oway_">DM the Author</ExternalLink>
        </nav>
      </footer>
    </div>
  </body>
</html>
